
.d-inline-block {
  display: inline-block;
}
.d-inline {
  display: inline;
}
.btn1 {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.2px;
  padding: 3px 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #ffffff;
  border: 1px solid #777;
  &:focus {
    outline: none;
  }
}

.btn2 {
  background-color: #fff;
  border: 1px solid #000;
  margin-top: 10px;
  color: #000;
  height: 35px;
  padding: 0 17px;
  letter-spacing: .05em;
  outline: none;
  text-align: center;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

.btn3 {
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  font-size: 14px;
  &:focus {
    outline: none;
  }
}
.btn_full {
  display: inline-block;
  width: 100%;
}


.fs3 {
  font-size: 3em;
}
.fs25 {
  font-size: 2.5em;
}
.fs2 {
  font-size: 2em;
}
.fs15 {
  font-size: 1.5em;
}
.fs1 {
  font-size: 1em;
}
.fs75 {
  font-size: .75em;
}
.fs14p {
  font-size: .75em;
}

.fwb {
  font-weight: bold;
}
.fwn {
  font-weight: normal;
}
.ttu {
  text-transform: uppercase;
}
.text-muted {
  color: #6c757d !important;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}
.tdn {
  text-decoration: none;
}

.w80 {
  width: 80%;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  display: block;
}
